* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./assets/images/.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.login h2 {
    font-size: 36px;
    text-align: center;
    color:#888;
}

.loginInput {
    padding-top: 20px;
    width: 100%;
}

.input-box input::placeholder {
    color:#888;
}