.banner {
    margin-top: 0;
    padding: 100px 0 100px 0;
    width: 100%;
}

.banner .name {
    position: fixed;
    top: 25%;
}

.banner .aboutMe {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
  
.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: black;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 1.5em;
    width: 96%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:link, a:visited {
    color: #151515;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: white;
}